html {
    height: 100%;
    min-height: 100%;
}

* {
    margin: 0;
    padding: 0;
    color: #5F6368;
}

a:hover {
    text-decoration: underline;
}

/* HEADER */
nav {
    margin: 0.2rem 1rem;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px 50px 50px;
    grid-template-rows: 50px;
    grid-template-areas: "about store . gmail images menu signIn";
}

a, p {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#about{
    grid-area: about;
    justify-self: center;
    align-self: center;
}

#store{
    grid-area: store;
    justify-self: center;
    align-self: center;
}

#gmail{
    grid-area: gmail;
    justify-self: center;
    align-self: center;
}

#images{
    grid-area: images;
    justify-self: center;
    align-self: center;
}

#menu{
    grid-area: menu;
    justify-self: center;
    align-self: center;
}

#signIn{
    grid-area: signIn;
    justify-self: center;
    align-self: center;
    background-color: #4285f4;
    height: 30px;
    line-height: 28px;
    width: 60px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid #4285f4;
}

/* MAIN */
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 70px 70px 250px;
    grid-template-areas: 
    ". logo ."
    ". search ."
    ". flexbox ."
    ". google-text ."
    ;
}

main, p {
    color: black;
}

#logo {
    grid-area: logo;
    justify-self: center;
    align-self: end;
    padding-bottom: 1.5rem;
}

#search {
    text-align: center;
    height: 44px;
    grid-area: search;
    width: 90%;
    justify-self: center;
    align-self: center;
    border: 1px solid lightgray;
    border-radius: 2rem;
    box-shadow: 8px 8px 10px gray;
}

#search:focus {
    width: 95%;
    box-shadow: 8px 8px 10px #4285f4;
}

#flexbox {
    grid-area: flexbox;
    justify-self: center;
    align-self: center;
}

#google-search-btn {
    border: none;
    font-size: 15px;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin: 0 0.25rem;
}
#google-search-btn:hover {
    border: 1px solid rgba(0, 0, 0, 0.226);
    padding: 0.5rem 1.2rem;
}

#feelingLucky {
    border: none;
    font-size: 15px;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin: 0 0.25rem;
}
#feelingLucky:hover {
    border: 1px solid rgba(0, 0, 0, 0.226);
    padding: 0.5rem 1.2rem;
}

#google-text {
    grid-area: google-text;
    justify-self: center;
    /* align-self: center; */
}

/* FOOTER */
footer {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position:absolute;
    bottom:0;
    background-color: rgba(0,0,0,0.1);
}

#left-footer {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px;
    grid-template-areas: "main todo yathzee";
    padding-left: 1em;
}

#right-footer {
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 50px;
    grid-template-areas: "test advertising settings";
    padding-left: 1em;
}

#main {
    grid-area: main;
    justify-self: center;
    align-self: center;
}
#todo {
    grid-area: todo;
    justify-self: center;
    align-self: center;
}
#yathzee {
    grid-area: yathzee;
    justify-self: center;
    align-self: center;
}
#test {
    grid-area: test;
    justify-self: center;
    align-self: center;
}
#advertising {
    grid-area: advertising;
    justify-self: center;
    align-self: center;
}
#settings {
    grid-area: settings;
    justify-self: center;
    align-self: center;
}